.app-container {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
align-items: center;
height: 100vh; /* Full viewport height to center vertically */
width: 100vw; /* Full viewport width */
padding: 20px; /* Optional: to prevent content from touching the edges */
box-sizing: border-box;
margin: 0 auto;
}
  
.lines-wrapper {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
gap: 20px; /* Adjust the space between boxes as needed */
padding: 20px; /* Padding around the entire grid */
overflow-y: auto; /* Enable vertical scrolling if the content overflows */
max-height: calc(100vh - 100px); /* Adjust the height as needed, accounting for headers/footers */
}

.line-card {
border: 1.5px solid black;
padding: 16px;
width: calc(25% - 20px); /* Four items per row, minus the gap */
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 4px;
background-color: #fff;
box-sizing: border-box;
}

.line-card h2 {
font-size: 32px;
font-weight: bold;
}

.line-card ul {
list-style: none; /* Remove bullet points from the list */
padding: 0;
width: 100%; /* Full width of the parent container */
}

.line-card li {
padding: 8px 0; /* Padding for each list item */
border-bottom: 1px solid lightgray; /* Optional bottom border for each item */
display: flex;
justify-content: space-between; /* Spread content to both ends */
align-items: center;
font-size: 28px;
}

.line-card li:last-child {
border-bottom: none; /* Remove border from the last item */
}

.button-container {
display: flex; /* Enables flexbox */
justify-content: space-around; /* Distributes space evenly around the buttons */
align-items: center; /* Aligns buttons vertically in the center */
width: 100%; /* Takes full width of the parent container */
margin-top: 20px; /* Provides some space above the container */
}

.pair-container {
border-bottom: 1px solid #eee; /* Border for separating each pair */
padding: 8px 0; /* Padding for each pair container */
font-size: 15px;
}

/* Explicitly remove borders from li elements */
.pair-container li {
list-style-type: none; /* Remove the bullet point */
padding: 4px 0; /* Padding for each list item */
border: none; /* Ensure no border */
background: none; /* Ensure no background if it's causing the line */
}

.purple-button {
background-color: purple !important;
border-color: purple !important;
color: white !important;
font-size: 22px !important; 
border: 2px solid black !important;
font-weight: 500 !important;
}

.purple-button:hover {
background-color: #ca8dfd !important; /* Darken button on hover */
border-color: #ca8dfd !important;
font-size: 22px !important;
font-weight: 500 !important;
}

.indicators {
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
margin-top: 20px;
}

.indicator {
border-radius: 4px;
padding: 8px 16px;
color: white;
font-size: 22px;
border: 2px solid black;
font-weight: 500;
}

.load-more-container {
display: flex;
justify-content: center;
margin-top: 20px;
}

.load-more-container .load-more-button {
font-size: 28px;
padding: 10px 20px;
background-color: #0202a1;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.load-more-container .load-more-button:hover {
background-color: #5e7df9;
}

.modal-content {
position: relative;
}

.go-to-top-container .go-to-top-button {
position: fixed;
bottom: 150px; /* change this dependent on the size of the screen */
right: 675px; /* change this dependent on the size of the screen */
font-size: 25px;
padding: 10px 20px;
background-color: rgb(77, 76, 76);
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
z-index: 1000;
}

.go-to-top-container .go-to-top-button:hover {
background-color: rgb(150, 149, 149);
}